@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,700&display=swap');

body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
}


/* Mise en page commune */

.row{
	display: flex;
}

.col-12{
	width: 100%;
}
.col-6{
	width: 50%;
}
.col-3{
	width: 25%;
}

h2{
	color: #029D5B;
}

h2, p{
	text-align: center;
}

.description{
	font-weight: bold;
}

/* En-tête */

#agenc{
	color: #074E03;
}

#eco{
	color: #074E03;
	font-style: italic;
}

#banner{
	background: url('banner.jpg') no-repeat;
	background-size: 100%;
	height: 500px;
	margin-bottom: 40px;
}

#slogan{
	margin-right: 50px;
	padding-top: 315px;
}

#debut_slogan{
	color: white;
	text-align: right;
	font-size: 30px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#fin_slogan{
	color: #D5F31F;
	text-align: right;
	font-size: 35px;
	font-weight: bold;
	padding-top: 0px;
	margin-top: 0px;
}

/* Hamburger menu */


  /* header */
  
  .header {
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 3;
	font-weight: bold;
  }
  
  .header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
  }
  
  .header li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	color: #1c2126;
	font-size: 1em;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
	background-color: #f4f4f4;
  }
  
  .header .logo {
	display: block;
	float: left;
	font-size: 1.5em;
	padding: 10px 20px;
	text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
	cursor: pointer;
	display: block;
  	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
  }
  
  .header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .header .menu-icon .navicon:before {
	top: 5px;
  }
  
  .header .menu-icon .navicon:after {
	top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
	display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
	max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }



/* Section équipe */

.profil img{
	height: 180px;
	width: 180px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.profil{
	display: flex;
	justify-content: space-between;
}

.profil_e{
	display: inline-block;
	text-align: center;
	width: 220px;
	margin: auto;
}

.text_profil{
	width: 210px;
}

#equipe{
	margin-bottom: 40px;
}

/* Section satisfaction clients */

.satisfaction{
	color: white;
	background: 100px 600px #053B44;
	margin-bottom: 40px;
}

.satisfaction h2{
	color: #D5F31F;
	font-weight: bold;
}

/* Section Notre service */

.container{
	padding: 0 10% 0 10%;
}

.bg-gray{
	background-color: #efefef;
	margin: 0 30px 0 30px;
}

.bg-gray:hover{
	background-color: #D5F31F;
}

.rounded{
	border-radius: 25px;
}
.justify-content-center{
	text-align: center;
	align-items: center;
}

.pt-5{
	padding-top: 50px;
	padding-bottom: 50px;
}
.pt-3{
	padding-top: 30px;
}

.bloc-service img{
	height: 110px;
}

#service{
	margin-bottom: 40px;
}

/* Section contactez-nous */

.contact{
	color: white;
	background: #053B44;
	padding-bottom: 50px;
	margin-bottom: 40px;
}

.contact h2{
	color: #D5F31F;
	font-weight: normal;
}

.pl{
	padding-left: 20px;
}

.pr{
	padding-right: 20px;
}

label{
	font-weight: lighter;
	font-size: 0.9em;
}

input, textarea{
	border-top: hidden;
	border-left: hidden;
	border-right: hidden;
	border-bottom: 3px solid white;
	background-color: #053B44;
	width: 100%;
	color: white;
}

input, textarea:focus{
	outline: none;
}

.bouton{
	border-radius: 25px;
	background-color: #D5F31F;
	width: 100px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 15px;
	color: #053B44 ;
	border-bottom: hidden;
}
.btn-control{
	text-align: right;
	justify-content: right;
}

/* Section A propos */

.sapropos{
	margin-bottom: 80px;
}

.imgapropos{
	border-radius: 10px;
	height: 300px;
	width: 400px;
	object-fit: cover;
}

.container2{
	width: 400px;
}

.apropos{
	border: 1px solid #053B44;
	border-radius: 10px;
	padding-left: 30px;
	padding-right: 30px;
	height: 300px;
}

.apropos h1{
	text-align: center;
}

.apropos p{
	color: #565E65;
	font-size: 0.8em;
}

.tlogoap{
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

.logoapi{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.blogoap{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 3px solid #053B44;
	padding: 10px;
}

.logoap{
	width: 40px;
	height: 40px;
	object-fit: contain;
	object-position: center;
}

/* Section Notre galerie */

.slider {
	width: 800px;
	height: 500px;
	overflow: hidden;
	border-radius: 5px;
	margin-top: 20px;
  }

.slides {
  display: flex;
  flex-direction: row;
  width: 400%;
  height: 500px;
  animation: slide 20s ease-in infinite;
}

.slide img {
  width: 800px;
  height: 100%;
}

@keyframes slide {
  0% { margin-left: 0;}
  21% {margin-left: 0;}
  25% {margin-left: -100%;}
  46% {margin-left: -100%;}
  50% {margin-left: -200%;}
  71% {margin-left: -200%;}
  75% {margin-left: -300%;}
  95% {margin-left: -300%;}
  100% {margin-left: 0;}
}

.galerie{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
}

/* Section Pied de page */

footer{
	background: #053B44;
	color: white;
}

footer a{
	text-decoration: none;
	color: white;
	font-weight: normal;
	font-size: 0.9em;
}

footer p{
	font-weight: normal;
	font-size: 0.9em;
}

.footer1{
	display: flex;
	justify-content: space-around;
}

.infofooter{
	display: inline-block;	
}

.align{
	display: flex;
	flex-direction: column;
}

.align1{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.align3{
	height: 25px;
	width: 25px;
	object-fit: cover;
	object-position: center;
	padding-right: 20px;
}

.footer2{
	background: black;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 60px;
	padding-left: 60px;
}

.imgfooter2b{
	display: inline-block;
	align-items: center;
}

.imgfooter2{
	height: 20px;
	width: 20px;
	border: 1px white solid;
	border-radius: 10px;
	padding: 5px;
	object-fit: cover;
	object-position: center;
}

/* Responsive */

@media all and (max-width: 1024px)
{
	.row, .profil, .footer1, .align1, .footer2{
		flex-direction: column !important;
	}
	.col-sm-12{
		width: 100%;
		padding: 0;
	}
	#slogan p{
		font-size: 1.3em;
		color: #D5F31F;
		text-align: center;
		margin-right: 0;
	}
	.footer1, .footer2{
		text-align: center;
	}
	.align1{
		justify-content: center;
	}
	.align{
		padding-top: 20px;
	}
	.slider, .slide img{
		width: 100%;
		object-fit: contain;
		object-position: center;
	}
	.apropos{
		height: 100%;
	}
}

	/* Hamburger menu */


	@media (min-width: 48em){
	
	.header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 70px;
	}

	.header li {
		float: left;
	  }
	  .header li a {
		padding: 20px 10px 20px 10px;
	  }
	  .header .menu {
		clear: none;
		float: right;
		max-height: none;
	  }
	  .header .menu-icon {
		display: none;
	  }
}